* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-tertiary);
}
.container{
    margin: 0 var(--spacing-medium);
}
.accordion {
  width: 600px;
  margin: 0 auto;
  margin-top: var(--spacing-medium);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--color-secondary);
  padding: var(--spacing-medium);
  border-radius: var(--spacing-small);
}


h1 {
  text-align: left;
}

.form-group {
  margin-bottom: var(--spacing-mediummellom);
  margin-top: var(--spacing-mediummellom);
  font-size: var(--spacing-mediummellom);
  padding-right: var(--spacing-mediummellom);
}

label {
  display: block;
  margin-bottom: var(--spacing-vsmall);
}

input[type="text"],
input[type="email"],
input[type="num"],
input[type="address"] {
  width: 100%;
  display: block;
  padding: var(--spacing-small);
  border: 1px solid var(--color-accent-1);
  border-radius: var(--spacing-vsmall);
  margin-top: var(--spacing-vsmall);
}

#text-message {
  width: 100%;
  display: block;
  border-radius: var(--spacing-vsmall);
}

input[type="submit"] {
  background-color: var(--color-accent-2);
  color: var(--color-secondary);
  border: none;
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--spacing-vsmall);
  cursor: pointer;
}

input[type="submit"]:hover {
  background: var(--color-accent-3);
}

@media(max-width:800px){
    .accordion {
        width: 100%;
      
      }
}