:root {
	--font-size-base: 16px;

	--color-primary: black;
	--color-secondary: white;
	--color-tertiary: rgb(235, 240, 240);
	--color-accent-1: rgb(197, 202, 207);
    --color-accent-2: blue;
	--color-accent-3: rgb(67, 67, 172);
	
	
	--spacing-vsmall: 0.3rem;
	--spacing-small: 0.5rem;
	--spacing-medium: 1rem;
	--spacing-mediummellom: 20px;
	
}